@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');


.content {
    width: 100%;
    height: 100%;

    margin-top: 5%;
    margin-left: 5%;

    color: white;
    font-family: 'Josefin Sans', sans-serif;

    
}
.content section {

    width: 50%;
    height: 50%;
    
}

.content-resume {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
} 
  

.collap-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}  







.content-resume a {
    height: 20vh;
    width: 70%;
    display: block;
    color: black;
    background-color: white;
}


.content-intro{
    margin: 0;
    width: 500px;
    height: 500px;
}


.intro {
    width: 100%;
    
    font-size: 25px;
    line-height: 150%;
    float: left;

}

.intro span{
    color: red;
}

.intro header{
    padding-bottom: 20px;
}

.hs-grad {
    margin-right: 0;
    padding: 0;
    width: 100%;
    height: 300px;

    float: right;
}

.hs-grad img{
    /* object-fit: contain; */
    display: block;
    width: 100%;
    height: 100%;

    float: right;
}